@charset "UTF-8";

:root {
    --cor0: #0B1D42;
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #1100ff;
    --cor4: rgba(184, 184, 184, 0.582);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: var(--cor4);
}

header {
    height: 30vh;
    color: var(--cor1);
    align-content: center;
    flex-wrap: wrap ;
    font: 1em sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px var(--cor2);
    background: no-repeat center/cover url('../capas/header-imagem.png');  
}

/*nav{
    padding: 0 5%;
}

ul, li {
    display: flex;
    list-style: none;
}

li > a {
    font-weight: bold;
    display: block;
    margin-left: 10px;
    padding: 10px;*/
}

.active{
    border-radius: 10px;
    background-color: var(--cor3);
}

a {
    text-decoration: none;
    font: 1em sans-serif;
    color: var(--cor1);    
    font-weight: bold;
}

main{
    margin-left: 5px;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    gap: 10px 0px;
}

.flex-box > div{
    flex: 1  1 400px;
    margin: 0 5px;
}

img{
    max-width: 100%;
    display: block;
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
    font: inherit;
    text-align: center;
    font: 1em sans-serif;
    margin-top: 10px;
}
