@charset "UTF-8";

:root {
    --cor0: #0B1D42;
    --cor1: #ffffff;
    --cor2: #000000;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    font: inter;
}

nav > a {
    color: var(--cor1);    
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
}